{% extends 'base.html' %}

{% block title %}
Что это за сайт?!
{% endblock  %}
{% block content %}
<h2>Добро пожаловать!!!</h2>
<p><b>Добро пожаловать на наш комиксный сайт!</b>

    Мы создали это пространство для всех поклонников комиксов, независимо от того, новичок вы или опытный читатель.
    Здесь вы найдете множество жанров — от супергеройских историй до захватывающих фэнтези и трогательных драм.
    <br/>
    <br/>
     <b>Что мы предлагаем:</b>
    <br/>
    <br/>
    <b>Обширная библиотека: </b> Тысячи комиксов, манги и графических новелл на любой вкус.
    <br>
    <br>
    <b>Еженедельные обновления: </b> Мы постоянно добавляем новые выпуски и серии, чтобы вы всегда были в курсе последних
    событий.
    <br/>
    <b>Удобный интерфейс: </b> Легкий в навигации дизайн позволяет быстро находить любимые комиксы и открывать для себя новые.
    <br>
    <br>
    <b>Сообщество поклонников:</b> Присоединяйтесь к форумам и обсуждениям, делитесь своими впечатлениями и рекомендациями с
    другими читателями.
    Специальные предложения:
    <br/>
    <br/>
    <b>Подписка:</b> Получите доступ к эксклюзивным материалам и бонусным выпускам, подписавшись на наш сервис.
    Конкурсы и акции: Участвуйте в конкурсах и выигрывайте призы, связанные с вашими любимыми героями.
    Поддержка авторов: Мы гордимся тем, что поддерживаем независимых художников и писателей. Читайте их работы и
    откройте для себя новые таланты.
    <br/>
    <br/>
    <b>Присоединяйтесь к нам:</b> Если вы любите комиксы так же, как и мы, не упустите возможность стать частью нашего
    сообщества. Зарегистрируйтесь и погружайтесь в мир увлекательных историй и ярких персонажей!</p>

{% endblock %}