{% extends 'base.html' %}
{% block title %}
Наши соц.сети
{% endblock  %}
{% block content %}
<br>
<br>
<br>
<h4>
    Мы всегда рады услышать от вас! Если у вас есть вопросы, предложения или пожелания, не стесняйтесь обращаться к нам.
    <br>
    <br>
    Наши контакты:
    <br>
    <br>

    Электронная почта: info@вашсайт.com
    <br>
    <br>

    Телефон: +7 (123) 456-78-90
    <br>
    <br>
    Мы в социальных сетях:
    <br>
    <br>
    <i class="bi bi-facebook me-2"></i>
    <i class="bi bi-instagram me-2"></i>
    <i class="bi bi-twitch me-2"></i>
    <i class="bi bi-twitter "></i>
    <br>
    <br>
    Заполните форму обратной связи, и мы свяжемся с вами в кратчайшие сроки. Ваше мнение для нас очень важно!
</h4>
{% endblock %}